
body { 
    font: 14px sans-serif; 
}

.wrapper{ 
    padding: 30px;
    display: flex;
    justify-content: center;
}

.wrapper-1{
    border: 2px solid grey;
    width: 30%; 
    padding: 20px; 
}

.wrapper-1 form div{
    padding-top: 20px;
}
